.third{
    color: aliceblue;
    word-break: normal;
}
.bg-layout3{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
    animation: thisBlock 9s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes thisBlock{
    0%{
        background-color: rgba(0, 0, 0, 0.50);
    }
    25%{
        background-color: rgba(0, 0, 0, 0.75);
    }
    50%{
        background-color: rgba(0, 0, 0, 1);
    }
    75%{
        background-color: rgba(0, 0, 0, 0.75);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.50);  
    }
}
.the-reviews{
    min-height: 100vh;
    margin: 50px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2);
    gap: 25px;
    border-radius: 75px;
}
.the-reviews img{
    height: 50px;
    width: 50px;
}
.reviews1, .reviews2, .reviews3, .reviews4, .reviews5, .reviews6 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border: 5px solid #dc3545;
    border-radius: 80px;
    align-items: center;     
    text-align: center;
    color: black; 
    transition: 0.5s ease;
    overflow: hidden;  
    padding: 5px;   
}
.reviews1:hover,.reviews2:hover,.reviews3:hover,.reviews4:hover,.reviews5:hover,.reviews6:hover {
    border-radius: 50px;
    border: 5px solid #FFD700;
    transform: rotate(2deg) scale(1.05);
}

.reviews1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.reviews2{
    grid-row: 1/2;
    grid-column: 2/3;
}
.reviews3{
    grid-row: 1/2;
    grid-column: 3/4;
}
.reviews4{
    grid-row: 2/3;
    grid-column: 1/2;
}
.reviews5{
    grid-row: 2/3;
    grid-column: 2/3;
}
.reviews6{
    grid-row: 2/3;
    grid-column: 3/4;
}
@media screen and (max-width: 1000px){
    .the-reviews{
        min-height: 100vh;
        margin: 50px;
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2);
        gap: 25px;
        border-radius: 75px;
    }
    .reviews1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .reviews2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .reviews3{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .reviews4{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .reviews5{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .reviews6{
        grid-row: 3/4;
        grid-column: 2/3;
    }    
}
@media screen and (max-width: 800px){
    .the-reviews{
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2);
        gap: 25px;
        border-radius: 75px;
    }
    .reviews1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .reviews2{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .reviews3{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .reviews4{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .reviews5{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .reviews6{
        grid-row: 6/7;
        grid-column: 1/2;
    }    
}
@media screen and (max-width: 550px){
    .the-reviews{
        min-height: 100vh;
        margin: 10px;
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2);
        gap: 25px;
        border-radius: 60px;
    }
    .reviews1, .reviews2, .reviews3, .reviews4, .reviews5, .reviews6 {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        border: 5px solid #dc3545;
        border-radius: 50px;
        align-items: center;     
        text-align: center;
        color: black; 
        transition: 0.5s ease;
        overflow: hidden;  
        padding: 5px;   
    } 
    .reviews1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .reviews2{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .reviews3{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .reviews4{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .reviews5{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .reviews6{
        grid-row: 6/7;
        grid-column: 1/2;
    }
  
}
